<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BotwTrainer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BotwTrainer.Properties.Settings>
            <setting name="IpAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="VersionUrl" serializeAs="String">
                <value>https://raw.githubusercontent.com/joffnerd/botw-trainer/master/</value>
            </setting>
            <setting name="CurrentVersion" serializeAs="String">
                <value>1.9.7</value>
            </setting>
        </BotwTrainer.Properties.Settings>
    
    </userSettings>
</configuration>